
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

input[type='button'] {
  cursor: pointer;
}

.mg {
  width: 200px;
  height: 50px;
  margin-left: 150px;
  background-color: burlywood;
}
